* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    /* overflow-y: hidden; Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
.navbars{
    height: 70px;
}
#num1 {
    color: white;
}
.img1{
    width: 68px;
    height: 60px;
}
section {
    position: relative;
}
#but{
    text-align: center;
}
.img-fluid1{
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.hero-text h1 {
    font-family: Playfair Display,serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
    color: #fff;

}
/* @media screen and (min-width: 601px) {
    h1{
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
    } */

.blankss{
    height: 50px;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 55px;
    color: rgb(54, 187, 2);
}
h3{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 55px;
    color: rgb(255, 255, 255);

    position: relative;
    padding: 0 0 15px;
    border-bottom: 4px dotted rgb(255, 55, 132);
}


.section-title{
    border-bottom: 4px dotted rgb(67, 186, 255);
}

.fell-title{
   
        position: relative;
        padding: 0 0 20px;
        border-bottom: 4px dotted rgb(67, 186, 255);

}

/* .para{
    position: relative;
    padding: 0 0 15px;
    border-bottom: 4px dotted rgb(28, 2, 179);
} */

.websitesss{
    padding-top: 10px;
}

.fell-section{
    padding: 5px 5px 5px 5px
}
/* .container{
    height: auto;
    
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
} */
.container-fell{
    height: auto;
}

.row{
    display: flex;
    justify-content: center;
}
.works-section {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.section-title {
    position: relative;
    padding: 0 0 20px;
}


.text-center {
    text-align: center;
}
.works-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 0 20px;
    border-bottom: 4px dotted rgb(67, 186, 255);

}

.work-list:nth-child(odd) .work-wrapper {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

h1{
    color: #FF512F;
    padding: 100px 100px 100px 100px;
}

.hero-section {
    padding: 100px 100px 100px 100px;
    padding-bottom: 160px;
    
}
.hero-container{
    display: flex;
  justify-content: center;
}

p {
    display: flex;
  justify-content: center;
  color: white;
}

.hero-button-wrapper{
    display: flex;
    justify-content: center;
}

button{
    background-color: aquamarine;
    /* border-radius: 30%; */
    overflow: auto;
}




/* CARDS ENDING VALA */
:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  body {
    background: #111 !important;
    /* background-image: url('background.jpg'); */

  }
  
  .card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }

  .card1{
        background-color: #222;
        border: 2px solid #c5c902;
        border-radius: 5%;
        margin-bottom: 2rem;
  }
  

  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image-source:  var(--gradient) ; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
    background: var(--gradient) ;
    border: 5px solid #fff; 

    -webkit-background-clip: none ;
    -webkit-text-fill-color: #fff;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }



h5{
    color: #cf5300;
    font-weight: 800;
    font-size: 40px;
    line-height: 1;
}


section.home-clients {
    padding: 0 0 120px;
}


/* @media (max-width: 800px){
    .container{
        flex-direction: column;
        justify-content: center;
    }
} */


.col-md-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
}

.container23{
    height: auto;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
}
